{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">
            <div class="layout-full">
                {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_breadcrumbs('Contacts', null)} %}
                <h1 class="main-title">Contacts</h1>
                <div class="contacts">
                    <div class="contacts-wrapper">
                        <div class="contacts-info">
                            <dl class="contacts-list">
                                {{ contacts|raw }}
                            </dl>
                        </div>
                        <div class="contacts-about">
                            <h2>About Us</h2>
                            {{ about|nl2br }}
                            <div class="social">
                                {% include 'blocks/social_links__block.html.twig' with {'linkedInUrl': socialLinks.linkedIn, 'instagramUrl': socialLinks.instagram, 'youtubeUrl': socialLinks.youtube, 'twitterUrl': socialLinks.twitter} %}
                            </div>
                        </div>
                    </div>
                    <div class="contacts-map">
                        <div class="first-map map-level">
                            <p class="map-title">Europe</p>
                            <img src="{{ asset('images/map_europe.png') }}" alt="">
                            {% for partner in partnerPoints %}
                                {% if partner.map == 'europe' and partner.mapPositionTop and partner.mapPositionLeft %}
                                    {% include 'blocks/map_point.html.twig' with {'partner': partner} %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="second-map map-level">
                            <p class="map-title">Asia</p>
                            <img src="{{ asset('images/map_asia.png') }}" alt="">
                            {% for partner in partnerPoints %}
                                {% if partner.map == 'asia' and partner.mapPositionTop and partner.mapPositionLeft %}
                                    {% include 'blocks/map_point.html.twig' with {'partner': partner} %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="partners">
                    <h2>Partners</h2>
                    <div class="partners-grid">
                        {% for partner in partners %}
                            <div class="partner-item">
                                <h2>{{ partner.name }}</h2>
                                <div class="partner-img">
                                    <img src="{{ asset('uploads/partner/' ~ partner.logo) }}" alt="{{ partner.name }}">
                                </div>
                                <div class="partner-content">
                                    {{ partner.contacts|raw }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}