{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">
            <div class="layout-full">
                <div class="post">
                    {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_events_breadcrumbs(event.title)} %}
                    <h1 class="main-title">{{ event.title }}</h1>
                    <div class="post-content">
                        <p>{{ event.summary|nl2br }}</p>
                        <p>
                            <img src="{{ asset('uploads/event_preview/' ~ event.preview) }}" width="1000" alt="{{ event.title }}">
                        </p>
                        <p>{{ event.text|raw }}</p>
                    </div>
                    {% if otherEvents %}
                    <div class="post-more">
                        <div class="caption">Read more</div>

                        <div class="event-cards event-cards--list">
                            <div class="event-cards-wrapper">
                                {% for item in otherEvents %}
                                    {% if item.id != event.id %}
                                        {% include 'blocks/media_center/event_item__block.html.twig' with {'item': item} %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
