{% if product_categories %}
    <div class="product-cards">
        {% for product_category in product_categories %}
            <div class="product-card">
                <div class="product-card-image">
                    <img src="{{ asset('uploads/product_category/' ~ product_category.previewImage) }}"
                         alt="{{ product_category.name }}">
                </div>
                <h4 class="product-card-title">
                    <a class="product-card-link"
                       href="{{ generate_product_category_url(product_category) }}">{{ product_category.name }}</a>
                </h4>
                <div class="product-card-desc">
                    {{ product_category.summary|raw|nl2br }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}