{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock %}

{% block body %}
    {% set menuItems = generate_product_category_menu() %}
    <main class="main">
        <div class="container">
            <div class="hero">
                <div class="hero-about">
                    <div class="hero-logo">
                        <img src="{{ asset('images/logo-text.svg') }}" width="252" height="33" alt="I–Photonics">
                    </div>

                    <div class="hero-description">
                        Designing and manufacturing of vacuum coating equipment for: optoelectronics, microelectronics,
                        photovoltaic, thermal processing in vacuum.
                    </div>
                </div>

                <div class="hero-features">
                    <div class="hero-feature hero-feature--primary">
                        <h4 class="hero-feature-title">
                            <a class="hero-feature-link" href="{{ data.setting.mainLeftBlockTitleUrl }}">{{ data.setting.mainLeftBlockTitle }}</a>
                        </h4>

                        <div class="hero-feature-info">
                            <span>{{ data.setting.mainLeftBlockSummary|raw|nl2br }}</span>

                            <img src="{{ asset('uploads/main/') ~ data.setting.mainLeftBlockImage }}" alt="">
                        </div>
                    </div>

                    <div class="hero-feature hero-feature--secondary">
                        <h4 class="hero-feature-title">
                            <a class="hero-feature-link" href="{{ data.setting.mainRightBlockTitleUrl }}">{{ data.setting.mainRightBlockTitle }}</a>
                        </h4>

                        <div class="hero-feature-info">
                            <span>{{ data.setting.mainRightBlockSummary|raw|nl2br }}</span>

                            <img src="{{ asset('uploads/main/') ~ data.setting.mainRightBlockImage }}" alt="">
                        </div>
                    </div>
                </div>
            </div>

            {# Our Products #}

            <section class="section-products">
                <h2 class="section-title">Our Products</h2>

                <div class="tabs">
                    <div class="tabs-primary" role="tablist">
                        <div class="tabs-primary-list">
                            {% for name, productsData in data.productsWithCategory %}
                                <button class="tabs-primary-button" id="tab-primary-{{ loop.index }}" type="button" role="tab" aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}" aria-controls="tab-panel-primary-{{ loop.index }}">
                                    {{ name }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                    {% for name, productsData in data.productsWithCategory %}
                        <div id="tab-panel-primary-{{ loop.index }}" {% if loop.index == 1 %}{% else %}hidden{% endif %}  role="tabpanel" aria-labelledby="tab-primary-{{ loop.index }}">
                            <div class="tabs-secondary" role="tablist">
                                <div class="tabs-secondary-list">
                                    {% for childProductsData in productsData %}
                                        <button class="tabs-secondary-button" id="tab-secondary-{{ loop.index }}-{{ childProductsData.productCategory.id }}" type="button" role="tab" aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}" aria-controls="tab-panel-secondary-{{ loop.index }}-{{ childProductsData.productCategory.id }}">
                                            {{ childProductsData.productCategory.name }}
                                        </button>
                                    {% endfor %}
                                </div>
                            </div>
                            {% for childProductsData in productsData %}
                            <div id="tab-panel-secondary-{{ loop.index }}-{{ childProductsData.productCategory.id }}" role="tabpanel" aria-labelledby="tab-secondary-{{ loop.index }}-{{ childProductsData.productCategory.id }}">
                                {% include 'blocks/cards/cards_block.html.twig' with {'cards': childProductsData.productCards} %}
                            </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        {% if data.events is not empty %}
            <div class="container">
            <section class="section-events">

                <h2 class="section-title">Upcoming events</h2>

                <div class="swiper event-cards">
                    <div class="swiper-wrapper event-cards-wrapper">
                        {% for event in data.events %}
                            <div class="swiper-slide event-card">
                                <div class="event-card-image">
                                    <img src="{{ asset('uploads/event_preview/' ~ event.preview) }}" width="620" height="504" alt="" loading="lazy">
                                </div>
                                <div class="event-card-info">
                                    <h2 class="event-card-title">
                                        <a class="event-card-link" href="{{ path('app_event_item', {slug: event.slug}) }}">{{ event.title }}</a>
                                    </h2>
                                    <div class="event-card-desc">
                                        <p class="event-card-text">
                                            {{ event.summary }}
                                        </p>
                                        <p class="event-card-date">{{ event.createdEventStartAt|date('d')}} - {{ event.createdEventEndAt|date('j F Y')}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="event-cards-controls">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>

                    <div class="swiper-pagination event-cards-pagination"></div>
                </div>
            </section>
            </div>
        {% endif %}

        {% if data.news is not empty %}
            <div class="container">
                <section class="section-news">
                    <h2 class="section-title">Company News</h2>
                    <div class="article-list">
                        {% for news in data.news %}
                            <article class="article">
                                <div class="article-image">
                                    <img src="{{ asset('uploads/news_preview/' ~ news.preview) }}" alt="{{ news.title }}">
                                </div>
                                <div class="article-info">
                                    <h3 class="article-title">
                                        <a class="article-link" href="{{ generate_news_url(news) }}">
                                            {{ news.title }}
                                        </a>
                                    </h3>
                                    <p class="article-desc">
                                        {{ news.summary }}
                                    </p>
                                    <time class="article-date" datetime=" {{ news.createdAt|date('Y-m-d') }}">
                                        {{ news.createdAt|date('d.m.Y') }}
                                    </time>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </section>
            </div>
        {% endif %}
    </main>
    {% if data.membershipLogos is not empty %}
        <section class="section-membership">
            <div class="container">
                <div class="swiper logos">
                    <div class="membership-title-controls">
                        <div class="membership-title">
                            <h2 class="section-title">Membership</h2>
                        </div>
                        <div class="logos-controls">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div class="swiper-wrapper">
                        {% for membership in data.membershipLogos %}
                        <div class="swiper-slide logos-item">
                            <a class="" href="{{ membership.url }}" target="_blank">
                                <img src="{{ asset('uploads/membership/' ~ membership.logo ) }}" alt="">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        let slidesPerView = 5;
        if ($(window).width() >= 500 && $(window).width() < 980) {
            slidesPerView = 3;
        }
        if ($(window).width() < 500) {
            slidesPerView = 2;
        }
        var swiper = new Swiper(".logos", {
            slidesPerView: slidesPerView,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
        (function() {
            'use strict';

            const breakpoint = window.matchMedia( '(min-width: 960px)' );

            let eventSwiper;

            const breakpointChecker = function() {
                if ( breakpoint.matches === true ) {
                    return enableSwiper();
                } else if ( breakpoint.matches === false ) {
                    if ( eventSwiper !== undefined ) eventSwiper.destroy( true, true );
                    return;
                }
            };

            const enableSwiper = function() {
                eventSwiper = new Swiper('.event-cards', {
                    slidesPerView: 'auto',
                    spaceBetween: 0,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            };

            breakpoint.addEventListener('change', (event) => {
                if (event.matches) {
                    breakpointChecker();
                }
            });

            breakpointChecker();
        })();
    </script>
{% endblock %}