{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    {{ product.name }}
    Similar:
    {% for similarProduct in similarProducts %}
        {{ similarProduct.name }}
    {% endfor %}
    <br>
    Relations {{ relationBlockTitle }}
    {% if product.technology %}
        Technology: {{ product.technology.name }}
    {% endif %}
    {% for filePaths in product.filePaths %}
        <a href="{{ filePaths.path }}" target="_blank">{{ filePaths.name }}</a>
    {% endfor %}
</div>
{% endblock %}
