{% extends 'base.html.twig' %}

{% block meta_seo %}
    {% include 'blocks/meta.html.twig' with {'meta' : product.seo} %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">
            <div class="layout">
                <div class="layout-content">
                    {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_breadcrumbs(product.name, product)} %}
                    {% include 'blocks/current_level_menu.html.twig' with {'currentLevelMenuItems': generate_product_category_one_level_menu(product.category)} %}

                    <h1 class="main-title mobile-only">{{ product.name }}</h1>

                    <div class="card">
                        <div class="card-gallery">
                            <div class="gallery swiper js-gallery">
                                <div class="gallery-wrapper swiper-wrapper">
                                    {% for image in product.images %}
                                        <div class="gallery-slide swiper-slide">
                                            <img src="{{ asset('uploads/product/' ~ image) }}" alt="{{ image }}">
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="gallery-controls">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                            <div class="gallery-thumbs swiper js-gallery-thumbs" thumbsSlider="">
                                <div class="gallery-thumbs-wrapper swiper-wrapper">
                                    {% for image in product.images %}
                                        <div class="gallery-thumb swiper-slide">
                                            <img src="{{ asset('uploads/product/' ~ image) }}" width="40" height="40" alt="{{ image }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="card-info">
                            <h1 class="main-title desktop-only">{{ product.name }}</h1>

                            <div class="card-about">
                               {{ product.summary }}

                                {% for filePaths in product.filePaths %}
                                    <p>
                                        <a class="link-doc" href="{{ asset(filePaths.path) }}" target="_blank">{{ filePaths.name }}</a>
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="card-action">
                                <a class="button button--primary js-modal-button" href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        {{ product.text|raw }}
                    </div>

                    {% include 'blocks/product/list_card_section.html.twig' with {'sectionName': product.category.name, 'products': similarProducts} %}
                    {% include 'blocks/product/list_card_section.html.twig' with {'sectionName': relationBlockTitle, 'products': product.relationProducts.toArray} %}
                    {% include 'blocks/technology/technology.html.twig' with {'technology': product.technology} %}
                </div>
                {% include 'menu/left_sidebar.html.twig' with {'menu': generate_product_category_menu() } %}
            </div>
        </div>
    </main>
    <div class="card-modal card-modal-gallery">
        <div class="card-modal-window">
            <button class="modal-close js-modal-close">
                <svg class="header-icon-close" width="26" height="26" aria-hidden="true">
                    <use href="/images/icons.svg#close"></use>
                </svg>
            </button>
            <div class="modal-wrapper">
                <div class="modal-gallery swiper js-modal-gallery">
                    <div class="modal-gallery-wrapper swiper-wrapper">
                        {% for image in product.images %}
                            <div class="modal-gallery-slide swiper-slide">
                                <img src="{{ asset('uploads/product/' ~ image) }}" alt="{{ image }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {#<div class="modal-gallery-thumbs swiper js-modal-gallery-thumbs" thumbsSlider="">
                    <div class="modal-gallery-thumbs-wrapper swiper-wrapper">
                        {% for image in product.images %}
                            <div class="gallery-thumb swiper-slide">
                                <img src="{{ asset('uploads/product/' ~ image) }}" width="40" height="40" alt="{{ image }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>#}
            </div>
        </div>
        <div class="modal-gallery-controls">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".js-gallery-thumbs", {
            spaceBetween: 1,
            freeMode: true,
        });
        var swiper2 = new Swiper(".js-gallery", {
            spaceBetween: 10,
            zoom: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            thumbs: {
                swiper: swiper,
            },
        });

        var swiper3 = new Swiper(".js-modal-gallery-thumbs", {
            spaceBetween: 1,
            freeMode: true,
        });
        var swiper4 = new Swiper(".js-modal-gallery", {
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            }
        });
        $('.card-modal-gallery .js-modal-close').on('click', () => {
            page.classList.remove('page--clip');
            document.querySelector('.card-modal-gallery').classList.remove('card-modal--active');
        });
        $('.card-gallery .gallery-slide').on('click', function (e) {
            page.classList.add('page--clip');
            $('.card-modal-gallery').addClass('card-modal--active');
            swiper4.slideTo(swiper2.activeIndex, 1, false)
        })
    </script>

{% endblock %}
