{% extends 'base.html.twig' %}

{% block meta_seo %}
    {% include 'blocks/meta.html.twig' with {'meta' : product.seo} %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">
            <div class="layout">
                <div class="layout-content">
                    {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_breadcrumbs(product.name, product)} %}
                    {% include 'blocks/current_level_menu.html.twig' with {'currentLevelMenuItems': generate_product_category_one_level_menu(product.category)} %}

                    <h1 class="main-title mobile-only">{{ product.name }}</h1>

                    <div class="card">
                        <div class="card-gallery">
                            <div class="gallery swiper js-gallery">
                                <div class="gallery-wrapper swiper-wrapper">
                                    {% for image in product.images %}
                                        <div class="gallery-slide swiper-slide">
                                            <div class="swiper-zoom-container">
                                                <img src="{{ asset('uploads/product/' ~ image) }}" alt="{{ image }}">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="gallery-controls{% if product.images|length == 1 %} hide{% endif %}">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                            <div class="gallery-thumbs swiper js-gallery-thumbs{% if product.images|length == 1 %} hide{% endif %}" thumbsSlider="">
                                <div class="gallery-thumbs-wrapper swiper-wrapper">
                                    {% for image in product.images %}
                                        <div class="gallery-thumb swiper-slide">
                                            <img src="{{ asset('uploads/product/' ~ image) }}" width="40" height="40" alt="{{ image }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-info">
                            <h1 class="main-title desktop-only">{{ product.name }}</h1>
                            <div class="card-about">
                               {{ product.summary }}
                                {% for filePaths in product.filePaths %}
                                    <p>
                                        <a class="link-doc" href="{{ asset(filePaths.path) }}" target="_blank">{{ filePaths.name }}</a>
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="card-action">
                                <a class="button button--primary js-modal-button" href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        {{ product.text|raw }}
                    </div>

                    {% include 'blocks/product/list_card_section.html.twig' with {'sectionName': product.category.name, 'products': similarProducts} %}
                    {% include 'blocks/product/list_card_section.html.twig' with {'sectionName': relationBlockTitle, 'products': product.relationProducts.toArray} %}
                    {% include 'blocks/product/list_card_section.html.twig' with {'sectionName': relationSecondBlockTitle, 'products': product.relationSecondProducts.toArray} %}
                    {% include 'blocks/technology/technology.html.twig' with {'technology': product.technology} %}
                </div>
                {% include 'menu/left_sidebar.html.twig' with {'menu': generate_product_category_menu() } %}
            </div>
        </div>
    </main>
    <div class="card-modal card-modal-gallery">
        <div class="card-modal-window">
            <button class="card-modal-close js-modal-close">
                <svg class="header-icon-close" width="26" height="26" aria-hidden="true">
                    <use href="/images/icons.svg#close"></use>
                </svg>
            </button>
            <div class="modal-wrapper">
                <div class="modal-gallery swiper js-modal-gallery">
                    <div class="modal-gallery-wrapper swiper-wrapper">
                        {% for image in product.images %}
                            <div class="modal-gallery-slide swiper-slide">
                                <div class="swiper-zoom-container">
                                    <img src="{{ asset('uploads/product/' ~ image) }}" alt="{{ image }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-gallery-thumbs swiper js-modal-gallery-thumbs{% if product.images|length == 1 %} hide{% endif %}" thumbsSlider="">
                    <div class="modal-gallery-thumbs-wrapper swiper-wrapper">
                        {% for image in product.images %}
                            <div class="gallery-thumb swiper-slide">
                                <img src="{{ asset('uploads/product/' ~ image) }}" width="40" height="40" alt="{{ image }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-gallery-controls{% if product.images|length == 1 %} hide{% endif %}">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var slidePerView = 4;
        if ($(window).width() < 980) {
            slidePerView = 1;
        }
        var swiperListing = new Swiper(".listing-slide", {
            slidesPerView: slidePerView,
            loop: true,
            centeredSlides: true,
            navigation: {
                nextEl: ".listing-card-controls .swiper-button-next",
                prevEl: ".listing-card-controls .swiper-button-prev",
            },
        });

        var cardGalleryThumbs = new Swiper(".js-gallery-thumbs", {
            spaceBetween: 1,
            freeMode: true,
        });
        var cardGallery = new Swiper(".js-gallery", {
            spaceBetween: 10,
            zoom: true,
            navigation: {
                nextEl: ".gallery-controls .swiper-button-next",
                prevEl: ".gallery-controls .swiper-button-prev",
            },
            thumbs: {
                swiper: cardGalleryThumbs,
            },
        });
        var modalCardGalleryThumbs = new Swiper(".js-modal-gallery-thumbs", {
            spaceBetween: 1,
            freeMode: true,
        });
        var modalCardGallery = new Swiper(".js-modal-gallery", {
            spaceBetween: 10,
            zoom: true,
            navigation: {
                nextEl: ".modal-gallery-controls .swiper-button-next",
                prevEl: ".modal-gallery-controls .swiper-button-prev",
            },
            thumbs: {
                swiper: modalCardGalleryThumbs,
            },
        });
        modalCardGallery.on('slideChange', function ({realIndex:r, previousIndex:p}) {
            cardGallery.slideTo(r, 1, false)
        });
        if ($(window).width() >= 980) {
            $('.card-gallery .gallery-slide').on('click', function (e) {
                page.classList.add('page--clip');
                $('.card-modal-gallery').addClass('card-modal--active');

                setTimeout(function(){
                    modalCardGallery.slideTo(cardGallery.activeIndex, 1, false);
                }, 80);
            })
            $('.card-modal-gallery').on('click', (e) => {
                if ($(e.target).hasClass('swiper-button-prev') || $(e.target).hasClass('swiper-button-next')) {
                    return;
                }
                if ($(e.target).closest('.modal-gallery-slide').length) {
                    return;
                }
                if ($(e.target).closest('.modal-gallery-thumbs').length) {
                    return;
                }
                page.classList.remove('page--clip');
                document.querySelector('.card-modal-gallery').classList.remove('card-modal--active');
            });
        }
    </script>

{% endblock %}
