{% set footer = get_footer_data() %}
<footer class="footer">
    <div class="footer-box">
        <div class="footer-container footer-container--primary">
            <div class="footer-about">
                <div class="footer-logo">
                    <img src="{{ asset('images/logo-footer.svg') }}" width="237" height="48" alt="I-Photonics logo">
                </div>

                <div class="footer-contacts">
                    <div class="footer-contacts-text">
                        {{ footer.contacts.contacts|raw|nl2br }}
                    </div>
                </div>

                <div class="footer-social social">
                    {% include 'blocks/social_links__block.html.twig' with {'linkedInUrl': footer.contacts.socialNetworksDto.linkedIn, 'instagramUrl': footer.contacts.socialNetworksDto.instagram, 'youtubeUrl': footer.contacts.socialNetworksDto.youtube, 'twitterUrl': footer.contacts.socialNetworksDto.twitter} %}
                </div>
            </div>

            <div class="footer-nav">
                <div class="footer-nav-title">Catalog</div>
                <ul class="footer-nav-list">
                    {% for item in menu.items %}
                        <li>
                            <a class="footer-link" href="{{ item.url }}">{{ item.name }}</a>
                            <ul class="footer-nav-sublist">
                                {% for child in item.children %}
                                    <li><a href="{{ child.url }}">{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-container footer-container--secondary">
        <div class="footer-extra-nav">
            <span class="footer-extra-nav-contact js-modal-button">Contact Us</span>
            <ul class="footer-extra-nav-list">
                <li><a class="footer-link" href="{{ path('app_technology_index') }}">Technology</a></li>
                <li><a class="footer-link" href="{{ path('app_application_index') }}">Applications</a></li>
                <li><a class="footer-link" href="{{ path('app_media_center_index') }}">Media center</a></li>
                <li><a class="footer-link" href="{{ path('app_downloads_index') }}">Downloads</a></li>
                <li><a class="footer-link" href="{{ path('app_contacts_index') }}">Contacts</a></li>
                <li><a class="footer-link" href="{{ path('app_about_index') }}">About Us</a></li>
            </ul>
        </div>

        <div class="footer-awards">
            {% for certificate in footer.certificates %}
                <a href="{{ certificate.url }}" target="_blank"><img src="{{ asset('uploads/certificate/' ~ certificate.logo) }}" width="80" height="80" alt=""></a>
            {% endfor %}
        </div>
    </div>
</footer>
