<header class="header">
    <div class="header-nav nav">
        <nav class="nav-primary container" aria-label="Primary">
            <a class="nav-home" href="{{ path('app_main_page') }}" aria-label="Home">
                <img class="nav-home-icon" src="{{ asset('images/logo.svg') }}" width="70" height="63" alt="logo">
            </a>
            <div class="nav-primary-container">
                <ul class="nav-primary-list">
                    {% for item in menu.items %}
                        <li class="nav-primary-item">
                            <a class="nav-primary-link" href="{{ item.url }}">{{ item.name }}</a>
                            <div class="nav-primary-submenu">
                                <ul class="nav-primary-sublist">
                                    {% if item.children %}
                                        {% for child in item.children %}
                                            <li>
                                                <a href="{{ child.url }}">{{ child.name }}</a>
                                                <ul>
                                                    {% for product in child.children %}
                                                        <li><a href="{{ product.url }}">{{ product.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <form class="header-search header-search--closed" name="search-form" method="GET" action="{{ path('app_search_content') }}">
                <div class="header-search-container">
                    <label class="header-search-label" for="search-field">Search</label>
                    <input class="header-search-input" type="text" id="search-field" name="q" placeholder="Search"  value="{{ app.request.get('q') ?: '' }}" autocomplete="off">
                    <button class="header-search-button" type="submit">
                        <svg class="header-icon-search" width="24" height="24" aria-hidden="true">
                            <use href="{{ asset('images/icons.svg#search-small') }}"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </nav>

        <nav class="nav-secondary" aria-label="Secondary">
            <div class="nav-secondary-container container">
                <ul class="nav-secondary-list">
                    <li><a class="nav-secondary-link" href="{{ path('app_technology_index') }}">Technology</a></li>
                    <li><a class="nav-secondary-link" href="{{ path('app_application_index') }}">Applications</a></li>
                    <li><a class="nav-secondary-link" href="{{ path('app_media_center_index') }}">Media center</a></li>
                    <li><a class="nav-secondary-link" href="{{ path('app_downloads_index') }}">Downloads</a></li>
                    <li><a class="nav-secondary-link" href="{{ path('app_contacts_index') }}">Contacts</a></li>
                    <li><a class="nav-secondary-link" href="{{ path('app_about_index') }}">About Us</a></li>
                </ul>
                <a class="nav-secondary-link nav-secondary-email"
                   href="mailto:{{ get_site_email() }}">{{ get_site_email() }}</a>
                <a class="nav-secondary-link nav-secondary-contact js-modal-button" href="#">Contact Us</a>
            </div>
        </nav>

    </div>

    <div class="header-menu header-menu--closed">
        <div class="menu">
            <div class="menu-caption">Catalog</div>
            {% for item in menu.items %}
                <div class="menu-section">
                    <button class="menu-slide-open js-menu-slide-open" type="button">
                        {{ item.name }}
                    </button>
                    <div class="menu-slide menu-slide--closed">
                        <button class="menu-slide-close js-menu-slide-close" type="button">
                            {{ item.name }}
                        </button>

                        <ul class="menu-slide-list">
                            {% if item.children %}
                                {% for child in item.children %}
                                    <li>
                                        <a href="{{ child.url }}">{{ child.name }}</a>
                                        <ul>
                                            {% for product in child.children %}
                                                <li><a href="{{ product.url }}">{{ product.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}

            <div class="menu-secondary">
                <ul class="menu-secondary-list">
                    <li><a class="menu-secondary-link" href="{{ path('app_technology_index') }}">Technology</a></li>
                    <li><a class="menu-secondary-link" href="{{ path('app_application_index') }}">Applications</a></li>
                    <li><a class="menu-secondary-link" href="{{ path('app_media_center_index') }}">Media center</a></li>
                    <li><a class="menu-secondary-link" href="{{ path('app_downloads_index') }}">Downloads</a></li>
                    <li><a class="menu-secondary-link" href="{{ path('app_contacts_index') }}">Contacts</a></li>
                    <li><a class="menu-secondary-link" href="{{ path('app_about_index') }}">About Us</a></li>
                </ul>
            </div>

            <div class="menu-extra">
                <a class="menu-extra-link" href="mailto:{{ get_site_email() }}">{{ get_site_email() }}</a>
            </div>
        </div>
    </div>

    <button class="header-menu-button" type="button" aria-expanded="false" aria-controls="menu" aria-label="Toggle menu">
        <svg class="header-icon-menu" width="50" height="50" aria-hidden="true">
            <use href="{{ asset('images/icons.svg#menu') }}"></use>
        </svg>
        <svg class="header-icon-close" width="50" height="50" aria-hidden="true">
            <use href="{{ asset('images/icons.svg#close') }}"></use>
        </svg>
    </button>

    <button class="header-search-toggle" type="button" aria-expanded="false" aria-controls="search-form"
            aria-label="Toggle search">
        <svg class="header-icon-search" width="50" height="50" aria-hidden="true">
            <use href="{{ asset('images/icons.svg#search') }}"></use>
        </svg>
        <svg class="header-icon-close" width="50" height="50" aria-hidden="true">
            <use href="{{ asset('images/icons.svg#close') }}"></use>
        </svg>
    </button>
</header>
